<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
    <div>
      <button type="button" class="btn btn-info" [routerLink]="['/products/product-add']">ADD</button>
    </div>
      <table class="table table-striped m-0">
        <thead>
        <tr>
          <th>#</th>
          <th>Label</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
          <td>@twitter</td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
