<div class="row">
  <div class="col-sm-12">
    <div class="card-box">
    <div>
      <button type="button" class="btn btn-info" [routerLink]="['/products/product-add']">ADD</button>
    </div>
      <table class="table table-striped m-0" >
        <thead>
        <tr>
          <th>#</th>
          <th>Photo</th>
          <th>Label</th>
          <th>Description</th>
          <th>Quantity</th>
          <th>Price</th>
          <th></th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products">
            <td>{{product.product_id}}</td>
            <td>{{product.photo}}</td>
            <td>{{product.label}}</td>
            <td>{{product.description}}</td>
            <td>{{product.quantity}}</td>
            <td>{{product.price}}</td>
            <td>
              <button type="button" class="btn btn-danger" (click)="deleteProduct(product.product_id)">Delete</button>
            </td>
            <td>
              <button type="button" class="btn btn-success" [routerLink]="['/products/product-edit', product.product_id]" >Edit</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
